@use 'sass:map';
@use 'sass:color';
@import '../../../styles/theme/palette';
@import '../../../styles/mixins/breakpoints';

/* stylelint-disable selector-class-pattern */

.appbar {
  color: map.get($map: $brick, $key: 700);
  background-color: map.get($map: $brick, $key: 200);
  box-shadow: none;
}

.logo {
  font-family: Mulish, sans-serif;
  font-size: 25px;
  font-weight: 700;

  @include breakpoint(1440) {
    font-size: 30px;
  }
}

.linkActive {
  background-color: color.adjust(
    $color: map.get($map: $olive, $key: 600),
    $amounalphat: -0.92
  );
}

.link {
  font-family: Mulish, sans-serif;
  font-weight: 700;
  color: map.get($map: $olive, $key: 600);
  text-transform: none;

  &:not(:first-of-type) {
    margin-left: 10px;
  }

  @include breakpoint(768) {
    font-size: 18px;
  }

  @include breakpoint(850) {
    &:not(:first-of-type) {
      margin-left: 35px;
    }
  }

  @include breakpoint(1140) {
    font-size: 20px;
  }
}

.drawerLink {
  font-family: Mulish, sans-serif;
  font-weight: 700;
  text-transform: none;

  &,
  &:hover {
    color: map.get($map: $olive, $key: 700);
  }

  &:hover {
    background: color.adjust(
      $color: map.get($map: $brick, $key: 100),
      $alpha: -0.5
    );
  }
}

.drawerLinkActive {
  background-color: color.adjust(
    $color: map.get($map: $brick, $key: 200),
    $alpha: -0.5
  ) !important;

  &:hover {
    background-color: color.adjust(
      $color: map.get($map: $brick, $key: 200),
      $alpha: -0.2
    ) !important;
  }
}
