@use 'sass:map';
@use 'sass:color';
@import '../../../styles/theme/palette';
@import '../../../styles/mixins/breakpoints';

.sidenav {
  position: fixed;
  top: 30vh;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 10px;
  background: map.get($map: $brick, $key: 200);
  border-radius: 10px;
}

.icon {
  color: map.get($map: $brick, $key: 700) !important;

  &:hover {
    background: color.adjust(
      $color: map.get($map: $brick, $key: 500),
      $alpha: -0.9
    ) !important;
  }
}
