@import '../mixins/breakpoints';

.custom-container {
    padding: 0 18px;
    margin: 0 auto;
  
    @include breakpoint(768) {
        padding: 0 57px;
    }
  
    @include breakpoint(1140) {
        padding: 0 75px;
    }
  
    @include breakpoint(1440) {
        max-width: 1440px;
        padding: 0 64px;
    }
  
    @include breakpoint(1920) {
        max-width: 1440px;
        padding: 0;
    }
  }