@use 'sass:map';
@import './utilities/containers';
@import './theme/palette';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Sanchez, serif;
  color: map.get($map: $gray, $key: 700);
  background: $paper;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
