@import '../styles/theme/palette';
@import '../styles/mixins/breakpoints';

.gradient {
  min-height: 100vh;
  background-image: $gradient-1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 132px;

  @include breakpoint(768) {
    padding-top: 156px;
  }

  @include breakpoint(1140) {
    padding-top: 152px;
  }

  @include breakpoint(1440) {
    padding-top: 174px;
  }
}

.title {
  font-family: Mulish, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;

  @include breakpoint(768) {
    font-size: 65px;
    line-height: 82px;
  }

  @include breakpoint(1440) {
    font-size: 80px;
    line-height: 100px;
  }

  @include breakpoint(1920) {
    font-size: 100px;
    line-height: 126px;
  }

  @include feature-text-color;
}

.subtitle {
  margin: 24px 0;
  font-size: 20px;
  line-height: 30px;

  @include breakpoint(768) {
    font-size: 25px;
    line-height: 38px;
  }

  @include breakpoint(1440) {
    font-size: 30px;
    line-height: 45px;
  }

  @include breakpoint(1920) {
    font-size: 36px;
    line-height: 54px;
  }

  @include feature-text-color;
}
