@use 'sass:map';
@use 'sass:color';
@import '../../../styles/theme/palette';
@import '../../../styles/mixins/breakpoints';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';

.input {
  padding: 13px 16px;
  font-family: Sanchez, sans-serif;
  font-size: 16px;
  border: 2px solid;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  @include breakpoint(1140) {
    padding: 19px 16px;
    font-size: 18px;
  }

  &,
  &::placeholder {
    color: map.get($map: $olive, $key: 700);
  }

  &:global.brick {
    background-color: color.adjust(
      map.get($map: $brick, $key: 500),
      $alpha: -0.95
    );
    border-color: map.get($map: $brick, $key: 500);

    &:hover{
      background-color: color.adjust(
        map.get($map: $brick, $key: 500),
        $alpha: -0.96
      );
      @include box-shadow-brick(0.35);
    }

    &:focus {
      outline: 2px solid map.get($map: $brick, $key: 300);
    }
  }

  &:global.bark {
    background-color: color.adjust(
      map.get($map: $bark, $key: 600),
      $alpha: -0.95
    );
    border-color: map.get($map: $bark, $key: 500);

    &:hover {
      background-color: color.adjust(
        map.get($map: $bark, $key: 600),
        $alpha: -0.96
      );
    }

    &:focus {
      outline: 2px solid map.get($map: $bark, $key: 300);
    }
  }

  &:global.gray {
    background-color: color.adjust(
      map.get($map: $gray, $key: 600),
      $alpha: -0.95
    );
    border-color: map.get($map: $gray, $key: 600);

    &:hover {
      background-color: color.adjust(
        map.get($map: $gray, $key: 600),
        $alpha: -0.96
      );
      
    }

    &:focus {
      outline: 2px solid map.get($map: $gray, $key: 300);
    }
  }

  &:global.olive {
    background-color: color.adjust(
      map.get($map: $olive, $key: 500),
      $alpha: -0.95
    );
    border-color: map.get($map: $olive, $key: 500);

    &:hover {
      background-color: color.adjust(
        map.get($map: $olive, $key: 500),
        $alpha: -0.96
      );
    }

    &:focus {
      outline: 2px solid map.get($map: $olive, $key: 500);
    }
  }

  &:global.success {
    background-color: color.adjust(
      map.get($map: $success, $key: 600),
      $alpha: -0.95
    );
    border-color: map.get($map: $success, $key: 600);

    &:hover {
      background-color: color.adjust(
        map.get($map: $success, $key: 600),
        $alpha: -0.96
      );
    }

    &:focus {
      outline: 2px solid map.get($map: $success, $key: 600);
    }
  }

  &:global.info {
    background-color: color.adjust(
      map.get($map: $info, $key: 600),
      $alpha: -0.95
    );
    border-color: map.get($map: $info, $key: 600);

    &:hover {
      background-color: color.adjust(
        map.get($map: $info, $key: 600),
        $alpha: -0.96
      );
    }

    &:focus {
      outline: 2px solid map.get($map: $info, $key: 600);
    }
  }

  &:global.warning {
    background-color: color.adjust(
      map.get($map: $warning, $key: 600),
      $alpha: -0.95
    );
    border-color: map.get($map: $warning, $key: 600);

    &:hover {
      background-color: color.adjust(
        map.get($map: $warning, $key: 600),
        $alpha: -0.96
      );
    }

    &:focus {
      outline: 2px solid map.get($map: $warning, $key: 600);
    }
  }

  &:global.danger {
    background-color: color.adjust(
      map.get($map: $danger, $key: 500),
      $alpha: -0.95
    );
    border-color: map.get($map: $danger, $key: 500);

    &,
    &::placeholder {
      color: map.get($map: $danger, $key: 500);
    }

    &:hover {
      background-color: color.adjust(
        map.get($map: $danger, $key: 500),
        $alpha: -0.96
      );
    }

    &:focus {
      outline: 2px solid map.get($map: $danger, $key: 500);
    }
  }
}
