@import '../../../styles/theme/palette';
@import '../../../styles/mixins/breakpoints';

.button {
  font-family: 'Sanchez', sans-serif;
  display: flex;
  width: fit-content;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:global.primary {
    font-weight: 700;   
    border: none;
    text-decoration: none;
  }

  &:global.primary.regular {
    padding: 18px 25px;
    font-size: 16px;

    @include breakpoint(1440) {
        font-size: 18px;
    }
  }

  &:global.primary.brick {
    background-color: map-get($map: $brick, $key: 200);
    color: map-get($map: $gray, $key: 800);

    &:hover {
      background-color: map-get($map: $brick, $key: 300);
    }
  }

  &:global.primary.success {
    background-color: map-get($map: $success, $key: 500);
    color: #fff;

    &:hover {
      background-color: map-get($map: $success, $key: 600);
    }
  }

  &:global.primary.info {
    background-color: map-get($map: $info, $key: 500);
    color: #fff;

    &:hover {
      background-color: map-get($map: $info, $key: 600);
    }
  }

  &:global.primary.warning {
    background-color: map-get($map: $warning, $key: 400);
    color: map-get($map: $olive, $key: 700);

    &:hover {
      background-color: map-get($map: $warning, $key: 500);
    }
  }

  &:global.primary.danger {
    background-color: map-get($map: $danger, $key: 500);
    color: #fff;

    &:hover {
      background-color: map-get($map: $danger, $key: 600);
    }
  }

  &:global.primary.full-width {
    width: 100%;
    justify-content: center;
  }

  &:global.shadow {
    @include box-shadow-1;
  }
}
