@use 'sass:map';
@import '../../../styles/theme/palette';
@import '../../../styles/mixins/breakpoints';

.card {
  display: flex;
  flex-direction: column;
  font-family: Sanchez, sans-serif;
  color: map.get($map: $olive, $key: 700);
  background: map.get($map: $bark, $key: 100);
  @include box-shadow-brick(0.25);
}

.image {
  position: relative;
  display: none;
  max-width: 100%;
  overflow: hidden;

  @include breakpoint(768) {
    display: block;
    height: 177px;
  }

  @include breakpoint(1141) {
    height: 266px;
  }

  img {
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.title {
  margin: 0;
  font-family: Mulish, sans-serif;
  font-size: 18px;
  font-weight: 800;

  @include breakpoint(768) {
    font-size: 20px;
  }

  @include breakpoint(1141) {
    font-size: 24px;
  }
}

.description {
  font-size: 14px;
  line-height: 21px;

  @include breakpoint(768) {
    font-size: 16px;
    line-height: 24px;
  }

  @include breakpoint(1141) {
    font-size: 18px;
    line-height: 27px;
  }
}

.link {
  position: relative;
  align-self: flex-end;

  &::before {
    z-index: 1 !important;
  }
}
