.rich-text {
  &.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }

  &__image {
    width: 70%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    align-self: center;
  }
}
